pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
	word-wrap: normal;
	    white-space: pre;
    margin: 1em 0px;
}
code{
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
	text-align: left;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
	font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

#lineChartContainer2 { 
overflow-x :scroll;
max-width:1200px;
}

* {
    box-sizing: border-box;
}